@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Ysabeau', sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to bottom right, black, #222034);
}

/* navigation */
button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5em;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button:hover, .active {
    background-color: white;
    border: 1px solid white;
    color: #FF4742;
}

/* main */
article {
    background-color: white;
    min-width: 450px;
    min-height: 300px;
    border-radius: 0px 10px 10px 10px;
}

.avatar {
    width: 45%;
    text-align: center;
    display: inline;
}

.illustra {
    width: 170px;
    margin: 13px;
}

.descr { display: inline; }

ul { list-style-type: none; }

.center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hide { display: none; }

/* info-tab */
.socials { text-align: center; }

.socials li { display: inline; }

.icon {
    width: 35px;
    margin: 13px;
    margin-bottom: 6px;
}

/* links-tab */
.links {
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 4px 2px;
    border-radius: 0px;
}

.links:hover {
    border: 1px solid #FF4742;
}

footer {
    text-align: center;
    color: white;
    padding-top: 1em;
}

@media (max-width: 400px) {
    table { min-width: 350px; }
    .illustra { width: 150px; }
    .links { width: 90%; }
}